frontend:
  host: localhost
authentication:
  header-name: XXX-Authentication
spring:
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  datasource:
    url: jdbc:postgresql://localhost:5432/micro689_db
    username: micro689_usr
    password: pass
    driver-class-name: org.postgresql.Driver
mybatis:
  config-location: classpath:mybatis/config.xml
---
spring:
  profiles: prod
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  datasource:
    url: jdbc:postgresql://database:5432/micro
    username: usr
    password: pass
    driver-class-name: org.postgresql.Driver
frontend:
  host: ${FRONTEND_URL}
authentication:
  header-name: XXX-Authentication
mybatis:
  config-location: classpath:mybatis/config.xml
---
spring:
  profiles: test
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    contexts: test
  datasource:
    url: jdbc:tc:postgresql:///databasename
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    username: postgres
    password:
frontend:
  host: localhost
authentication:
  header-name: XXX-Authentication
mybatis:
  config-location: classpath:mybatis/config.xml

