<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darakay.micro689.repo.MyBatisRecordRepository">
    <select id="findMatchesWithPartnerId"  resultType="boolean" parameterType="map">
        SELECT EXISTS (SELECT * FROM record
        JOIN (
        SELECT "user".id as creator, partner.id as partner FROM "user" JOIN partner ON "user".partner_id = partner.id)
        AS cp ON record.creator_id = cp.creator
        left outer join personal_info_bl ON record.personal_id = personal_info_bl.id
        left outer join passport_info_bl pib ON record.passport_id = pib.id
        left outer join inn_bl ib on record.inn_id = ib.id
        left outer join phone_bl pb on record.phone_id = pb.id
        left outer join email_bl eb on record.email_id = eb.id
        WHERE partner = #{partnerId} AND ( 1=0
        <if test="example.personalInfo != null">
            OR surname = #{example.personalInfo.surname} AND first_name = #{example.personalInfo.firstName} AND
            second_name = #{example.personalInfo.secondName} AND birth_date = #{example.personalInfo.birthDate}
        </if>
        <if test="example.passportInfo != null">
            OR pass_ser = #{example.passportInfo.passportSeria} AND pass_num = #{example.passportInfo.passportNumber}
        </if>
        <if test="example.inn != null">
            OR inn_num = #{example.inn}
        </if>
        <if test="example.phone != null">
            OR phone = #{example.phone}
        </if>
        <if test="example.email != null">
            OR email = #{example.email}
        </if>
        )
     )
    </select>

    <select id="findMatches" resultType="boolean" parameterType="com.darakay.micro689.dto.ExampleDTO">
        SELECT EXISTS (SELECT * FROM record
        left outer join personal_info_bl ON record.personal_id = personal_info_bl.id
        left outer join passport_info_bl pib ON record.passport_id = pib.id
        left outer join inn_bl ib on record.inn_id = ib.id
        left outer join phone_bl pb on record.phone_id = pb.id
        left outer join email_bl eb on record.email_id = eb.id
        WHERE 1=0
        <if test="personalInfo != null">
            OR surname = #{personalInfo.surname} AND first_name = #{personalInfo.firstName}
                   AND second_name = #{personalInfo.secondName} AND birth_date = #{personalInfo.birthDate}
        </if>
        <if test="passportInfo != null">
             OR pass_ser = #{passportInfo.passportSeria} AND pass_num = #{passportInfo.passportNumber}
        </if>
        <if test="inn != null">
            OR inn_num = #{inn}
        </if>
        <if test="phone != null">
            OR phone = #{phone}
        </if>
        <if test="email != null">
            OR email = #{email}
        </if>
    )
    </select>

    <insert id="insertMapAsRecord" useGeneratedKeys="true" keyColumn="id" parameterType="map">
        INSERT INTO record (creator_id, personal_id, passport_id, inn_id, phone_id, email_id) VALUES
        (#{creatorId}, #{personal-info}, #{passport-info}, #{inn}, #{phone}, #{email});
    </insert>

    <select id="findRecords" resultType="int" parameterType="map">
        SELECT record.id FROM record
        left outer join personal_info_bl ON record.personal_id = personal_info_bl.id
        left outer join passport_info_bl pib ON record.passport_id = pib.id
        left outer join inn_bl ib on record.inn_id = ib.id
        left outer join phone_bl pb on record.phone_id = pb.id
        left outer join email_bl eb on record.email_id = eb.id
        WHERE creator_id = #{userId}

        <if test="request.surname != null">
            AND surname = #{request.surname}
        </if>
        <if test="request.firstName != null">
            AND first_name = #{request.firstName}
        </if>
        <if test="request.secondName != null">
            AND second_name = #{request.secondName}
        </if>
        <if test="request.birthDate != null">
            AND birth_date = #{request.birthDate}
        </if>
        <if test="request.passportSeria != null">
            AND pass_ser = #{request.passportSeria}
        </if>
        <if test="request.passportNumber != null">
            AND pass_num = #{request.passportNumber}
        </if>
        <if test="request.inn != null">
            AND inn_num = #{request.inn}
        </if>
        <if test="request.phone != null">
            AND phone = #{request.phone}
        </if>
        <if test="request.email != null">
            AND email = #{request.email}
        </if>
    </select>
</mapper>